<div  style="margin-bottom: 0px;">
    <!-- <h3>Energy Meter</h3> -->
    <div class="box">
      <div class="position-relative">
        <ul class="chart-skills">
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
          <li>
            <span></span>
          </li>
          <div style="width:250px;">
            <label style="float:left;">Base</label>
            <label style="float:right;">Extreme</label>
          </div>
        </ul>
          <img src="./assets/img/clipart3512754.png" alt="Pointer" class="pointer-img"  style="position: absolute;
          left: 47%;
          top: 29%;
          z-index: 1000;">
      </div>
      <div class="text-center mt-4">
        <div class="speed">
          <span id="speed" style="display:none">65</span>
        </div>
      </div>
    </div>
  </div>